<div class="row">
  <form [formGroup]="userForm" class="sign-in-form card col s12 m6 l6 xl3 offset-xl3">
    <input type="email" [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl" class="validate">
    <div *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </div>
    <div *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </div>
    <input type="password"  [(ngModel)]="password" placeholder="Password" [formControl]="passwordFormControl" class="validate">
    <div *ngIf="passwordFormControl.hasError('pattern')">
      Please enter a valid password
    </div>
    <div *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </div>
    <div class="center row">
        <button type="submit" class="waves-effect waves-light btn blue-btn" (click)='signIn()'>Sign In</button>
        <a routerLink="/sign-up" class="waves-effect waves-light btn blue-btn">Sign up now</a>
    </div>
  </form>
</div>
