<div class="row">
  <form [formGroup]="userForm" class="card col s12 m6 l6 xl4 offset-xl2">
    <input [(ngModel)]="firstName" placeholder="First Name" [formControl]="firstNameFormControl" class="validate">
    <div *ngIf="firstNameFormControl.hasError('pattern') && firstNameFormControl.dirty">
      Please enter a valid first name
    </div>
    <div *ngIf="firstNameFormControl.hasError('required') && firstNameFormControl.dirty">
      First name is <strong>required</strong>
    </div>
    <input [(ngModel)]="lastName" placeholder="Last Name" [formControl]="lastNameFormControl" class="validate">
    <div *ngIf="lastNameFormControl.hasError('pattern') && lastNameFormControl.dirty">
      Please enter a valid last name
    </div>
    <div *ngIf="lastNameFormControl.hasError('required') && lastNameFormControl.dirty">
      Last name is <strong>required</strong>
    </div>
    <input [(ngModel)]="username" placeholder="Username" [formControl]="usernameFormControl" class="validate">
    <div *ngIf="usernameFormControl.hasError('pattern') && usernameFormControl.dirty">
      Please enter a valid username
    </div>
    <div *ngIf="usernameFormControl.hasError('required') && usernameFormControl.dirty">
      Username is <strong>required</strong>
    </div>
    <input type="password" [(ngModel)]="password" placeholder="Password" [formControl]="passwordFormControl" class="validate">
    <div *ngIf="passwordFormControl.hasError('pattern') && passwordFormControl.dirty">
      Please enter a valid password
    </div>
    <div *ngIf="passwordFormControl.hasError('required') && passwordFormControl.dirty">
      Password is <strong>required</strong>
    </div>
    <input [(ngModel)]="email" placeholder="Email" [formControl]="emailFormControl" class="validate">
    <div *ngIf="emailFormControl.hasError('pattern') && emailFormControl.dirty">
      Please enter a valid email address
    </div>
    <div *ngIf="emailFormControl.hasError('required') && emailFormControl.dirty">
      Email is <strong>required</strong>
    </div>
    <div class="upload">
      <div *ngIf="upload">
        Selected photo: {{upload?.name}}
      </div>
      <button type="button" md-raised-button (click)="imgFileInput.click()">Add a photo</button>
      <input hidden type="file" #imgFileInput (change)="detectFile($event)" />
    </div>
    <div class="center">
      <button type="submit" class="blue-hover btn-flat" (click)="signup()">Sign Up</button>
      <a class="blue-hover btn-flat" routerLink="/sign-in">Sign in now</a>
    </div>
  </form>
</div>
