<div class = "stats-wrapper">
<div class="row">
  <div class="col s12 m6">
    <div class="card darken-1">
      <div class="card-content black-text">
        <span class="card-title white-text title">About</span>
        <ul class="collection z-depth-2">
          <li class="collection-item avatar">
            <i class="material-icons circle blue">insert_chart</i>
            <span class="title">Count of users</span>
            <p>First Line <br>
              Second Line
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle blue">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
              Second Line
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle blue">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
              Second Line
            </p>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle blue">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
              Second Line
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
