@import "../../../styles";

.statsbtn {
   background-color: $accent-color;
   right: 0;
   display: block;
   margin-top: 5%;
   width: 15%;
 }

.aboutbtn {
  background-color: $accent-color;
  right: 0;
  display: block;
  margin-top: 2%;
  width: 15%;
}

.circle {
  background-color: $accent-color;
}

