@import "../../../../styles";

.circle {
  background-color: $accent-color;
}

.title {
  font-weight: bold;
}

.card {
  background-color: $primary-color-light;

}

.stats-wrapper{
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;

}


