<div class="row center flow-text">
  <div class="col s12 m6 darken-5 z-depth-1">
    <div class="card white darken-5">
      <div class="card-content black-text">
        <span class="card-title ">Error 404</span>
        <p>Woops. Looks like this page doesn't exist</p>
      </div>
      <div class="card-panel valign center z-depth-2">
        <div class="a-wrapper">
          <a class="link-home effect-underline" routerLink="">Back to HOME</a>
        </div>
      </div>
    </div>
  </div>
</div>

