<nav>
  <div class="nav-wrapper valign center">
    <!--<div class="valign center">-->
    <a routerLink="/home" class="brand-logo center">
      <span class="hide-on-small-only ">Blogile</span>
      <img class="hide-on-med-and-up logo-img" src="../../../../assets/images/logosmall.png" alt="">
    </a>
    <!--</div>-->

    <!--<a href="#" class="brand-logo center hide-on-small-only"></a>-->
    <app-search-bar class="left"></app-search-bar>
    <app-user-bar class="right"></app-user-bar>
  </div>
</nav>
