@import "../../../styles";

ul {
  margin: 0 auto;
  margin-top: 2%;
}
.circle {
  background-color: $accent-color;
}

.title {
  font-weight: bold;
}

.card {
  background-color: $primary-color-light;
}


