
  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle blue">insert_chart</i>
      <span class="title">Count of users</span>
      <p>First Line <br>
        Second Line
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
        Second Line
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
        Second Line
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle blue">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
        Second Line
      </p>
    </li>
  </ul>
