@import "./../../../../styles";

.blog-img{
    width: 700px;
    height: 350px;
}

.card {
  margin-top: 20px;
  padding-left:0 !important;
  padding-right:0 !important;

}

.description {
  color: lightblue;
  font-style: italic;
}
