
<div class="row">
  <div class="col s12 m6 offset-m2">
    <!--<div class="card darken-1">-->
    <div class="card-content black-text">

      <ul class="collection z-depth-2">
        <li class="collection-item avatar">
          <span class="card-title black-text title">PROFILE</span>
        </li>
        <li class="collection-item avatar">

          <span class="title">Image:</span>
          <p></p>
          <i class="material-icons circle blue right">edit</i>
        </li>
        <li class="collection-item avatar">
          <span class="title">First name:</span>
          <p></p>
          <i class="material-icons circle blue">edit</i>
        </li>
        <li class="collection-item avatar">

          <span class="title">Last name:</span>
          <p></p>
          <i class="material-icons circle blue">edit</i>
        </li>
        <li class="collection-item avatar">
          <span class="title">Email:</span>
          <p></p>
          <i class="material-icons circle blue">edit</i>
        </li>
        <li>
          <div class="card-action center">
            <a routerLink="" class="btn blue">BACK TO HOME</a>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>
