<h3 class="fluid-text center-align">All blogs:</h3>
<div class="row" *ngFor="let blog of blogs">
  <div class="card col s12 m6 l5 xl4  offset-xl4">
    <div class="card=image">
      <img class="responsive-img blog-image" src="{{blog.image.url}}" />
    </div>
    <div class="card-content black-text center-align">
      <span class="card-title"><strong>Blog title:</strong> {{blog.title}}</span>
      <span class="card-title"><strong>Blog author:</strong> {{blog.authorName}}</span>
      <span class="card-title"><strong>Created on:</strong> {{blog.createdOn | date}}</span>
      <button class="waves-effect waves-light btn blue-btn">View more</button>
    </div>
  </div>
</div>
